@font-face {
    font-family: 'Inter';
    src: url('Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
}


body, h1, p, a {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Apple Symbols', 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', sans-serif;
    color: #c8c8c8;
    text-align: left;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #222;
    font-weight: 800;
    padding-top: 0.3em;
    padding-left: 10px;
}

h4 {
    font-size: 1.2em;
    color: #cfcfcf;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #f4f4f4;
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('bg.jpg') no-repeat center center/cover;
    filter: blur(20px); /* Blurred background effect */
    z-index: -1;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: rgba(22, 22, 22, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.header {
    margin-bottom: 30px;
}

.Artist {
    font-size: 1.2em;
    color: #666;
    font-weight: 500; 
}

.header h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #bfbfbf;
}

.header p {
    font-size: 1.2em;
    color: #666;
}

.cover img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.album-release {
    display: flex;
    align-items: center;
}

.album-art {
    max-width: 120%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    margin-left: 20px ;
    margin-top: 20px;
}

.release-name h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: 800;
    color: #f3f3f3;
}

.release-name h2 {
    margin-top: 0;
    font-size: 1.35rem;
    font-weight: 600;
    padding-left: 10px;
}

.platform-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.platform {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 20px;
    background-color: #0077cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.1em;
}

.platform img {
    width: 24px;
    height: 24px;
}

/* Platform-specific colors */
.spotify { 
    background-color: #208b46; 
}

.spotify:hover{
    box-shadow: 0 5px 15px #208b46;
    transition: all 0.2s ease-in-out;
}

.youtube { background-color: #aa1010; }

.youtube:hover{
    box-shadow: 0 5px 15px #aa1010;
    transition: all 0.2s ease-in-out;
}

.deezer { background-color: #6937b5; }


.deezer:hover{
    box-shadow: 0 5px 15px #6937b5;
    transition: all 0.2s ease-in-out;
}

.apple-music { background-color: #b01949; }

.apple-music:hover{
    box-shadow: 0 5px 15px #b01949;
    transition: all 0.2s ease-in-out;
}

h2 {
    text-align: left;
    color: #939393;
}

h5 {
    text-align: center;
    color: #939393;
}

.social-buttons-container {
    display: flex;
    justify-content: space-around; /* Pour espacer les boutons uniformément */
    align-items: center; /* Pour centrer les boutons verticalement */
    flex-wrap: wrap; /* Pour permettre le retour à la ligne des boutons si nécessaire */
}

.social-buttons-container .platform {
    display: flex;
    flex-direction: column; /* Pour empiler l'icône SVG et le texte */
    align-items: center; /* Pour centrer l'icône SVG et le texte horizontalement */
    text-align: center; /* Pour centrer le texte */
    margin: 10px; /* Pour ajouter un espace autour des boutons */
    text-decoration: none; /* Pour enlever les soulignements des liens */
    color: #ffffff; /* Pour définir la couleur du texte */
}

.social-buttons-container .platform svg {
    width: 36px; /* Augmenter la taille des icônes SVG */
    height: 36px; /* Augmenter la taille des icônes SVG */
    margin-bottom: 8px; /* Ajouter un espace entre l'icône et le texte */
}

.social-buttons-container .platform span {
    display: block; /* Pour s'assurer que le texte prend toute la largeur disponible */
}

.igandth {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.ig svg, .th svg {
    width: 20px; /* Increase icon size */
    height: 20px;
}

.strange h3 {
    text-align: left;
}

h3 {
    color: #f3f3f3;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}